button{
    margin-right: 3rem;
}

div{
    margin:3rem;
}
.navbar{
    justify-content: space-between;
}

a{
    padding-right: 1rem;
    text-decoration: none;
}

.center{
    margin:10rem;
}